.app.dark {
  --bg-color: #000053;
  --inverted-bg-color: #e5e5e5;
  
  --primary-color: #00c400;
  --secondary-color: #00e700;
  --inverted-primary-color: #162ba4;
  --inverted-secondary-color: #0051e7; 
}